<h1 class="m-8 lg:mx-20 text-gray-800 dark:text-white text-3xl font-bold">Assignments</h1>

<div class="mb-8 mx-8 lg:mx-20">
  <%= render 'nav' %>

  <div class="mx-auto block items-center gap-6 sm:flex-nowrap">
    <% if params[:status].nil? || %w[upcoming completed past_due].include?(params[:status].to_s) %>
      <% if @load_tasks.present? %>
        <ol class="divide-y divide-gray-100 overflow-hidden bg-white text-sm shadow ring-1 ring-black ring-opacity-5 dark:divide-gray-700 dark:bg-gray-800 dark:ring-opacity-20 first:rounded-t-md last:rounded-b-md">
          <% @load_tasks.each do |task| %>
            <%= render task %>
          <% end %>
        </ol>
      <% else %>
        <div class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">No tasks found</span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Invalid filter</span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="py-6 sm:py-8">
    <div class="mb-8 space-y-6">
      <div class="p-4 ring-1 ring-black rounded-xl">
        <span class="text-xs text-gray-500 uppercase">term</span>
        <div class="flex justify-center mb-4 py-14">
          <p>a point</p>
        </div>
      </div>
      <ul class="space-y-4">
        <li class="flex items-center justify-between px-4 py-4 shadow-sm ring-1 ring-gray-300 rounded-xl hover:shadow-lg cursor-pointer"><span><span class="mr-3 font-semibold">A</span>a mathematical phrase that contains variables, functions, numbers, and/or operations. An expression does not contain equal or inequality signs. </span></li>
        <li class="flex items-center justify-between px-4 py-4 shadow-sm ring-1 ring-gray-300 rounded-xl hover:shadow-lg cursor-pointer"><span><span class="mr-3 font-semibold">B</span>an algebraic equation in which the variable quantity or quantities are raised to the zero or first power.</span></li>
        <li class="flex items-center justify-between px-4 py-4 shadow-sm ring-1 ring-gray-300 rounded-xl hover:shadow-lg cursor-pointer"><span><span class="mr-3 font-semibold">C</span>a specific location in space that has no discernable length or width.</span></li>
      </ul>
    </div>
  </div>

</div>