<div id="<%= dom_id load_learnset %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= load_learnset.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desc:</strong>
    <%= load_learnset.desc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= load_learnset.user_id %>
  </p>

</div>
