<div id="<%= dom_id learnset %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= learnset.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desc:</strong>
    <%= learnset.desc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= learnset.user_id %>
  </p>

</div>
