<div class="py-6 sm:py-8">
  <div class="mb-8 space-y-6">
    <div class="p-4 ring-1 ring-black rounded-xl">
      <span class="text-xs text-gray-500 uppercase">term</span>
      <div class="flex justify-center mb-4 py-14">
        <p>a point</p>
      </div>
    </div>
    <ul class="space-y-4">
      <li class="flex items-center justify-between px-4 py-4 shadow-sm ring-1 ring-gray-300 rounded-xl hover:shadow-lg cursor-pointer"><span><span class="mr-3 font-semibold">A</span>a mathematical phrase that contains variables, functions, numbers, and/or operations. An expression does not contain equal or inequality signs. </span></li>
      <li class="flex items-center justify-between px-4 py-4 shadow-sm ring-1 ring-gray-300 rounded-xl hover:shadow-lg cursor-pointer"><span><span class="mr-3 font-semibold">B</span>an algebraic equation in which the variable quantity or quantities are raised to the zero or first power.</span></li>
      <li class="flex items-center justify-between px-4 py-4 shadow-sm ring-1 ring-gray-300 rounded-xl hover:shadow-lg cursor-pointer"><span><span class="mr-3 font-semibold">C</span>a specific location in space that has no discernable length or width.</span></li>
    </ul>
  </div>
</div>
