@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file is for your main application CSS */

/* 
  Helps hide AlpineJS cloaking elements from the DOM
  until its initialized.
  @docs: https://alpinejs.dev/directives/cloak
*/
[x-cloak] { display: none !important; }

.flame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flame::after,
.flame::before {
  content: " ";
  background-color: #d05700;
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 1rem;
}

.flame::after {
  height: 1.25rem;
  margin-top: .25rem;
}

@media (prefers-color-scheme: dark) {
  .tile {
    --tw-bg-opacity: 1;
    background-color: #141b2d;
  }
}

@media (prefers-color-scheme: light) {
  .tile {
    --tw-bg-opacity: 1;
    background-color: rgb(255, 255, 255);
  }
}
